
unfocused_hi {
	color: #f4a060;
}
unfocused_med {
	color: #c08040;
}
unfocused_lo {
	color: #a06020;
}
focused_hi {
	color: #ffc080;
}
focused_med {
	color: #e0a060;
}
focused_lo {
	color: #c08040;
}



other {
	color: #805020;
}

