UnityDecoration {
    -UnityDecoration-extents: 28px 4px 4px 4px;
    -UnityDecoration-input-extents: 10px;

    -UnityDecoration-shadow-offset-x: 1px;
    -UnityDecoration-shadow-offset-y: 1px;
    -UnityDecoration-active-shadow-color: rgba(0,0,0,0.7);
    -UnityDecoration-active-shadow-radius: 8px;
    -UnityDecoration-inactive-shadow-color: rgba(0,0,0,0.5);
    -UnityDecoration-inactive-shadow-radius: 5px;

    -UnityDecoration-glow-size: 10px;
    -UnityDecoration-glow-color: @theme_selected_bg_color;

    -UnityDecoration-title-indent: 10px;
    -UnityDecoration-title-fade: 35px;
    -UnityDecoration-title-alignment: 0.0;
}

UnityDecoration .top {
    border: none;
    border-bottom-width: 0;
    border-radius: 6px 6px 0 0;
    padding: 1px 8px 0 8px;
    background-color: @titlebar_bg_color;
    background-image: url('../assets/titlebar-focused-middle.png');
	background-size: 100% 100%;
    color: #fff;
    text-shadow: none;
}

UnityDecoration .top:backdrop {
    border: 0 solid @titlebar_bg_color;
    border-bottom-width: 0;
    background-color: @theme_unfocused_bg_color;
    background-image: url('../assets/titlebar-unfocused-middle.png');
    color: mix(#fff, @titlebar_bg_color, 0.7);
}

UnityDecoration .left {
    background-image: url('../assets/border-focused-left.png');
}
UnityDecoration .right {
    background-image: url('../assets/border-focused-right.png');

}
UnityDecoration .bottom {
    background-image: url('../assets/border-focused-bottom.png');
}
 
UnityDecoration .left:backdrop {
    background-image: url('../assets/border-unfocused-right.png');
}
UnityDecoration .right:backdrop {
    background-image: url('../assets/border-unfocused-left.png');
}
UnityDecoration .bottom:backdrop {
    background-image: url('../assets/border-unfocused-bottom.png');
}

UnityPanelWidget,
.unity-panel {
    border-width: 0;
    border-style: solid;
    border-color: @panel_bg_color;
    background-color: @panel_bg_color;
    background-image: url('../assets/titlebar-focused-middle.png');
    color: @panel_fg_color;
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0 1px;
    color: @panel_fg_color;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: none;
    color: shade(@panel_fg_color, 1.08);
}

/* new menubar function in unity 7.5 */
UnityDecoration.menuitem,
UnityDecoration .menuitem {
    border-radius: 0;
}

UnityDecoration .menuitem:hover,
UnityDecoration .menuitem *:hover,
.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: none;
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

@keyframes playbackmenuitem_spinner {
    to { -gtk-icon-transform: rotate(1turn); }
}

.menu IdoPlaybackMenuItem.menuitem:active {
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
    animation: playbackmenuitem_spinner 1s infinite linear;
    color: @selected_bg_color
}
